<div
    class="col card bg-dark-subtle rounded mb-3 mt-2 position-relative"
    {{ stimulus_controller('timer', {
        'timerId': timer.id,
        'timerRunning': timer.stopped ? false : true,
        'timerStartTime': timer.start.timestamp
    }) }}
>
    <div class="card-body">
        <div class="card-text">
            <span {{ stimulus_target('timer', 'timerDurationCounter') }}>{{ timer.duration|date('%h h %I min') }}</span>
                <button
                    class="btn btn-sm btn-outline-warning mt-2 me-2 position-absolute top-0 end-0"
                    {{ stimulus_target('timer', 'timerStopButton') }}
                    {{ stimulus_action('timer', 'stopTimer') }}
                >
                    Stop
                </button>
        </div>
        <div class="card-text">
            <small class="text-secondary">{{ timer.start|date("G:H") }} - {{ timer.stopped|date("G:H") }}</small>
        </div>
        <div class="card-text">
            <small class="text-secondary">{{ timer.start|date("M jS Y") }}</small>
        </div>
    </div>
</div>