<div
    class="col card bg-dark-subtle rounded mb-3 mt-2 position-relative"
    {{ stimulus_controller('timer', {
        'timerId': timer.id,
        'timerRunning': timer.running,
        'timerStartTime': timer.lastRestartedAt.timestamp ?? timer.startedAt.timestamp,
        'timerAccumulatedTime': timer.accumulatedTime.totalSeconds
    }) }}
>
    <div class="card-body">
        <div class="card-text">
            <span {{ stimulus_target('timer', 'timerDurationCounter') }}>{{ timer.accumulatedTime|date('%h h %I min') }}</span>
                <button
                    class="btn btn-sm btn-outline-warning mt-2 me-2 position-absolute top-0 end-0"
                    {{ stimulus_target('timer', 'timerStopButton') }}
                    {{ stimulus_action('timer', 'stopTimer') }}
                >
                    Stop
                </button>
                <button
                    class="btn btn-sm btn-outline-success mt-2 me-2 position-absolute top-0 end-0"
                    {{ stimulus_target('timer', 'timerStartButton') }}
                    {{ stimulus_action('timer', 'startTimer') }}
                >
                    Start
                </button>
        </div>
        <div class="card-text">
            <small class="text-secondary">{{ timer.startedAt|date("G:H") }}</small>
        </div>
        <div class="card-text">
            <small class="text-secondary">{{ timer.startedAt|date("M jS Y") }}</small>
        </div>
    </div>
</div>