<div
    class="col card bg-dark-subtle rounded mb-3 mt-2 position-relative"
    {{ stimulus_controller('timer', {
        'timerId': timer.id,
        'timerRunning': timer.running,
        'timerStartTime': timer.lastRestartedAt.timestamp ?? timer.startedAt.timestamp,
        'timerAccumulatedTime': timer.accumulatedTime.totalSeconds
    }) }}
>
    <div class="card-body">
        <div class="card-text">
            <span {{ stimulus_target('timer', 'timerDurationCounter') }}>{{ timer.accumulatedTime|date('%h:%I:%S') }}</span>
            <twig:Button:Timer:Action svg="stop" target="timerStopButton" action="stopTimer" color="warning" />
            <twig:Button:Timer:Action svg="play" target="timerStartButton" action="startTimer" color="success" />
        </div>
        <div class="card-text">
            <small class="text-secondary">{{ timer.startedAt|date("H:i", "America/New_York") }}</small>
        </div>
        <div class="card-text">
            <small class="text-secondary">{{ timer.startedAt|date("M jS Y") }}</small>
        </div>
    </div>
</div>