<div {{ stimulus_controller('task', {
    'index': form.tasks|length > 0 ? form.tasks|last.vars.name + 1 : 0,
    'formPrototype': form_widget(form.tasks.vars.prototype)
    }) }}>
{{ form_start(form) }}
    <ul class="items"
        {{ stimulus_target('task', 'taskList') }}
    >
        {% for task in form.tasks %}
            <li>{{ form_row(task) }}</li>
        {% endfor %}
    </ul>
    <button type="button" id="add-task" class="btn btn-outline-success"
            {{ stimulus_action('task', 'addTaskForm') }}
    >Add Item</button>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
