{% extends 'base.html.twig' %}

{% block title %}TodoList{% endblock %}

{% block body %}
    <h1>TodoList</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ todo_list.id }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <h2>Items</h2>
        <ul>
        {% for task in todo_list.tasks %}
            <li class="task-item">{{ task }}</li>
        {% endfor %}
        </ul>
    </div>

    <a href="{{ path('app_todo_list_index') }}">back to list</a>

    <a href="{{ path('app_todo_list_edit', {'id': todo_list.id}) }}">edit</a>

    {{ include('todo_list/_delete_form.html.twig') }}
{% endblock %}
