{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}
    {% macro add_attributes(text) %}
        {.lead .text-secondary} {{ text }}
    {% endmacro %}
    <div class="row">
        <div class="col-2 me-2" {{ stimulus_controller('timer_dashboard') }}>
            <h1 class="mb-0">Timer
                <twig:Button:Add controller="timer_dashboard" action="startTimer" />
            </h1>
            <div {{ stimulus_target('timer_dashboard', 'timerList') }}>
                {% for timer in timers %}
                    <div class="row">
                        <twig:Timer timer="{{ timer }}" />
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col ms-2">
            <h1 class="mb-0">Notes
                <twig:Button:Add-Link path="app_note_new" />
            </h1>
            {% for note in notes %}
                <div class="row">
                    <div class="col bg-dark-subtle rounded mb-3 mt-2 p-4 position-relative">
                        <twig:Button:Edit-Link path="app_note_edit" id="{{ note.id }}" />

                            {{ _self.add_attributes(note.title)|markdown_to_html }}

                        <div>
                            {{ (note.content ?? '')|markdown_to_html }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-4 ms-1">
            <h1 class="mb-2">Tasks
                <twig:Button:Add-Link path="app_todo_list_new" />
            </h1>
            {% for todo in todos %}
                <div class="bg-dark-subtle rounded my-2 mb-4 p-4 position-relative">
                    <twig:Button:Edit-Link path="app_todo_list_edit" id="{{ todo.id }}" />

                    {{ _self.add_attributes(todo.name)|markdown_to_html }}

                    <ul class="list-group list-group-flush" {{ stimulus_controller('task_dashboard', {'todoListId': todo.id}) }}>
                        {% for task in todo.tasks %}
                            <li class="task-item list-group-item d-flex justify-content-between align-items-center bg-dark-subtle">
                                {{ task.getFormattedName|markdown_to_html }}
                                <button
                                    type="button"
                                    class="btn btn-sm text-danger"
                                    {{ stimulus_action('task_dashboard', 'removeTask', 'click', {'taskIndexId': task.id}) }}
                                >
                                    {{ include('svg/x-circle.html.twig') }}
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
