{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col me-1">
            <h1 class="mb-0">Notes
                <a href="{{ path('app_note_new') }}" class="btn btn-sm text-success">
                    {{ include('svg/plus-circle.html.twig') }}
                </a>
            </h1>
            {% for note in notes %}
                <div class="row">
                    <div class="col bg-dark-subtle rounded mb-3 mt-2 p-4">
                        <p class="lead text-secondary">
                            {{ note.title|markdown_to_html }}
                            <a href="{{ path('app_note_edit', {'id': note.id}) }}" class="btn btn-sm text-success">
                                {{ include('svg/pencil.html.twig') }}
                            </a>
                        </p>
                        <div>
                            {{ note.content|markdown_to_html }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-4 ms-1">
            <h1 class="mb-2">Tasks
                <a href="{{ path('app_todo_list_new') }}" class="btn btn-sm text-success">
                    {{ include('svg/plus-circle.html.twig') }}
                </a>
            </h1>
            {% for todo in todos %}
                <div class="bg-dark-subtle rounded my-2 mb-4 p-4">
                    <p class="lead text-secondary">
                        {{ todo.name|markdown_to_html }}
                        <a href="{{ path('app_todo_list_edit', {'id': todo.id}) }}" class="btn btn-sm text-success">
                            {{ include('svg/pencil.html.twig') }}
                        </a>
                    </p>
                    <ul class="list-group list-group-flush" {{ stimulus_controller('task_dashboard', {'todoListId': todo.id}) }}>
                        {% for index_id, task in todo.tasks %}
                            <li class="task-item list-group-item d-flex justify-content-between align-items-center bg-dark-subtle">
                                {{ task.getFormattedName|markdown_to_html }}
                                <button
                                    type="button"
                                    class="btn btn-sm text-danger"
                                    {{ stimulus_action('task_dashboard', 'removeTask', 'click', {'taskIndexId': task.id}) }}
                                >
                                    {{ include('svg/x-circle.html.twig') }}
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
