{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {% macro add_attributes(text) %}
        {.lead .text-secondary} {{ text }}
    {% endmacro %}
    <div class="row">
        <div class="col-2 me-2">
            <h1 class="mb-0">Timer
                <a href="#" class="btn btn-sm text-success">
                    {{ include('svg/plus-circle.html.twig') }}
                </a>
            </h1>
            {% for timer in timers %}
                <div class="row">
                    {#                    <div class="col card bg-dark-subtle rounded mb-3 mt-2 p-4 position-relative">#}
                    <div class="col card bg-dark-subtle rounded mb-3 mt-2 position-relative">
                        <div class="card-body">
                            <div class="card-text">
                                {{ timer.duration|date('%h h %I min') }}
                            </div>
                            <div class="card-text">
                                <small class="text-secondary">{{ timer.start|date("G:H") }} - {{ timer.stopped|date("G:H") }}</small>
                            </div>
                            <div class="card-text">
                                <small class="text-secondary">{{ timer.start|date("M jS Y") }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col ms-2">
            <h1 class="mb-0">Notes
                <a href="{{ path('app_note_new') }}" class="btn btn-sm text-success">
                    {{ include('svg/plus-circle.html.twig') }}
                </a>
            </h1>
            {% for note in notes %}
                <div class="row">
                    <div class="col bg-dark-subtle rounded mb-3 mt-2 p-4 position-relative">
                        <a href="{{ path('app_note_edit', {'id': note.id}) }}" class="btn btn-sm text-success position-absolute top-0 end-0">
                            {{ include('svg/pencil.html.twig') }}
                        </a>
                            {{ _self.add_attributes(note.title)|markdown_to_html }}
                        <div>
                            {{ (note.content ?? '')|markdown_to_html }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-4 ms-1">
            <h1 class="mb-2">Tasks
                <a href="{{ path('app_todo_list_new') }}" class="btn btn-sm text-success">
                    {{ include('svg/plus-circle.html.twig') }}
                </a>
            </h1>
            {% for todo in todos %}
                <div class="bg-dark-subtle rounded my-2 mb-4 p-4 position-relative">
                    <a href="{{ path('app_todo_list_edit', {'id': todo.id}) }}" class="btn btn-sm text-success position-absolute top-0 end-0">
                        {{ include('svg/pencil.html.twig') }}
                    </a>

                    {{ _self.add_attributes(todo.name)|markdown_to_html }}
                    <ul class="list-group list-group-flush" {{ stimulus_controller('task_dashboard', {'todoListId': todo.id}) }}>
                        {% for task in todo.tasks %}
                            <li class="task-item list-group-item d-flex justify-content-between align-items-center bg-dark-subtle">
                                {{ task.getFormattedName|markdown_to_html }}
                                <button
                                    type="button"
                                    class="btn btn-sm text-danger"
                                    {{ stimulus_action('task_dashboard', 'removeTask', 'click', {'taskIndexId': task.id}) }}
                                >
                                    {{ include('svg/x-circle.html.twig') }}
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
